{% extends "base.html" %}

{% block title %}Manage Holidays{% endblock %}

{% block page_title %}Manage Holidays{% endblock %}

{% block content %}

    <form id="addHolidayForm">
        <label for="holidayDescription">Description:</label>
        <input type="text" id="holidayDescription" requried>
        <label for="holidayDate">Date:</label>
        <input type="date" id="holidayDate" required>
        <button type="submit" class="btn">Add Holiday</button>
    </form>

    <div class="card">
        <div class="card-header">
            <h2>Existing Holidays</h2>
            <ul id="holidayList" class="simple-list">
                <!-- Holidays will be loaded here by JavaScript -->
                <li>Loading holidays...</li>
            </ul>
{% endblock %}

{% block extra_body_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/holidays.js') }}"></script>
{% endblock %}